<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            [disabled]="!recipeForm.valid"
            class="btn btn-success"
          >
            Save
          </button>
          <button type="button" (click)="onCancel()" class="btn btn-danger">
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              id="name"
              formControlName="name"
              type="text"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              id="imagePath"
              formControlName="imagePath"
              type="text"
              #imagePath
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              formControlName="description"
              type="text"
              rows="6"
              class="form-control"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredient">
          <div
            class="row"
            *ngFor="let ingredientCtrl of controls; let i = index"
            [formGroupName]="i"
            style="margin-top: 2%"
          >
            <div class="col-xs-8">
              <input type="text" formControlName="name" class="form-control" />
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                formControlName="amount"
                class="form-control"
              />
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger" type="button" (click)="onDeletingIngredient(i)">X</button>
            </div>
          </div>
          <div class="row" style="margin-top: 1%">
            <div class="col-xs-12">
              <button class="btn btn-success" type="button" (click)="addIngredient()">
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
