<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div id="user-data" formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input 
            type="text" 
            id="username" 
            formControlName="username"
            class="form-control" />
            <span *ngIf="!signupForm.get('userData.username')?.valid && signupForm.get('userData.username')?.touched">
                <span *ngIf="signupForm.get('userData.username')?.errors">
                    this name is Invalid
                </span>
                <span *ngIf="signupForm.get('userData.email')?.errors">
                    this name is Invalid
                </span>
                This field is required!
            </span>
          </div>
         
          <div class="form-group">
            <label for="email">Mail</label>
            <input 
            type="email" 
            id="email" 
            name="email" 
            formControlName="email"
            class="form-control" />
            <span *ngIf="!signupForm.get('userData.email')?.valid && signupForm.get('userData.email')?.touched">
                Please enter a valid email!
            </span>
          </div>
        </div>

        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              name="gender"
             formControlName="gender"
             [value]="gender"
            />
            {{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
            <h4>Your Hobbies</h4>
            <button class="btn btn-default" 
            type="button" (click)="onAddHobby()">
            Add Hobby</button>
            <div  
            *ngFor="let hobbyControl of hobbiesArrayControl; let i = index">
                <input type="text" class="form-control" [formControlName]="i">
            </div>
        </div>
        <span class="help-block" *ngIf="!signupForm?.valid && signupForm?.touched">
            Please enter a valid data!
        </span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
