<p>form works!</p>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <label for="name">name</label>
  <input type="text" formControlName="name" />
  <label for="email">email</label>
  <input type="email" formControlName="email" />
  <button>submit</button>
</form>

<ion-list lines="none">
  <ion-item *ngFor="let fromdata of alldatas$ | async">
    <ion-label> {{ fromdata.name }} </ion-label>
    <ion-icon name="checkmark-circle-outline" (click)="removeTodoForm(fromdata.id)" slot="end"></ion-icon>
    <ion-label> {{ fromdata.email }} </ion-label>
  </ion-item>
</ion-list>
