<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="list-group">
            <a href="#"
            [routerLink]="['/users', user.id, user.name]"
            *ngFor="let user of users"
            class="list-group-item">
                {{user.name}}
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <router-outlet></router-outlet>
        <!-- <app-user></app-user> -->
    </div>
</div>