<a 
[routerLink]="[index]"
routerLinkActive="active"
style="color: pointer !important" 
class="list-group-item clearfix">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{recipeItem.name}}</h4>
        <p class="list-group-item-text">{{recipeItem.description}}</p>
    </div>
    <span class="pull-right">
        <img [src]="recipeItem.imagePath" alt="" class="img-responsive" style="max-height: 50px;" >
</span>
</a>