<!-- <app-recipe-item></app-recipe-item> -->
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
            <app-recipe-item 
            *ngFor="let list of recipes; let i = index" 
            [recipeItem]="list"
            [index]="i"
            ></app-recipe-item>
    </div>
</div>