<div class="row">
    <div class="coll-xs-12 col-sm-4">
        <div class="list-group">
            <a 
            href="#"
            class="list-group-item"
            *ngFor="let server of servers"
            [routerLink]="['/servers',server.id]"
            [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
            fragment="loading"
            >
            {{server.name}}
            </a>

            <a [routerLink]="['/users', 10, 'Anna']">Load Anna (10)</a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <router-outlet></router-outlet>
        <!-- <button class="btn btn-primary" (click)="onReload()">Reload Page</button>
        <app-edit-server></app-edit-server>
        <hr>
        <app-server></app-server> -->
    </div>
</div>