<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit ></app-shopping-edit>
        <hr>
        <ul class="list-group" >
            <a 
                class="list-group-item" 
                *ngFor="let ingd of ingredients; let i = index" 
                (click)="onEditItem(i)"
                style="cursor: pointer;">
                {{ingd.name}} ({{ingd.amount}})
            </a>
        </ul>
    </div>
</div>