<app-header ></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      
      <!-- <app-shopping-list *ngIf="navgateComponent == 'shopping-list' else elseBlock" ></app-shopping-list>
      <ng-template #elseBlock>
        <app-recipes  ></app-recipes>
      </ng-template>
       -->
       <!-- <app-recipes *ngIf="navgateComponent == 'recipe'" ></app-recipes>
       <app-shopping-list *ngIf="navgateComponent !== 'recipe'" ></app-shopping-list> -->
       <router-outlet></router-outlet>
    </div>
  </div>
</div>