<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md offset-2">
      |
      <a [routerLink]="['user', 1]"> Home </a>
      |
      <a [routerLink]="['user', 2]"> user 2 </a>
    </div>
  </div>
  <hr />
  <p *ngIf="userActivated">Activated</p>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md offset-2">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
