<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"> Recipe Book</a>
        </div>
    
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav nav">
            <li routerLinkActive="active" *ngIf="isAuthenticated"><a [routerLink]="'/recipes'">Recipes</a></li>
            <li routerLinkActive="active"><a [routerLink]="'/auth'" *ngIf="!isAuthenticated" >Authenticate</a></li>
            <li routerLinkActive="active"><a [routerLink]="'/shopping-list'">shopping list</a></li>
        </ul>
        <ul class="navbar-nav nav navbar-right">
            <li  *ngIf="isAuthenticated">
                <a style="cursor:pointer;" (click)="onLogout()"> Logout</a>
            </li>
            <li class="dropdown" appDropdown >
                <a style="cursor:pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a style="cursor:pointer;" (click)="onSaveData()" >save data</a></li>
                    <li><a style="cursor:pointer;" (click)="getRecipe()" >fetch data</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</nav>