<div class="container">
  <div class="row">
    <div
      class="col-xs-12 col-sm-10 col-md-5 col-sm-offset-1 col-md-offset-4"
      style="margin-top: 5%"
    >
      <form [formGroup]="stripeForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            formControlName="name"
            class="form-control"
          />
          <span
            *ngIf="
              !stripeForm.get('name')?.valid && stripeForm.get('name')?.touched
            "
          >
            Please enter your name!
          </span>
        </div>

        <div class="form-group">
          <label for="email">Mail</label>
          <input
            type="email"
            id="email"
            name="email"
            formControlName="email"
            class="form-control"
          />
          <span
            *ngIf="
              !stripeForm.get('email')?.valid &&
              stripeForm.get('email')?.touched
            "
          >
            Please enter valid email!
          </span>
        </div>
        <div class="form-group">
          <label for="card no">Card No.</label>
          <input
            type="text"
            id="cardno"
            name="cardno"
            formControlName="cardNo"
            maxlength="12"
            (keydown)="validateNumber($event)"
            class="form-control"
          />
          <span
            *ngIf="
              !stripeForm.get('cardNo')?.valid &&
              stripeForm.get('cardNo')?.touched
            "
          >
            Please enter valid card number!
          </span>
        </div>
        <!-- <div class="form-group">
          <label for="email">Date</label>
          <input
            type="month"
            id="date"
            name="date"
            placeholder="mm/yy"
            formControlName="date"
            class="form-control"
          /> 
          <span
            *ngIf="
              !stripeForm.get('date')?.valid && stripeForm.get('date')?.touched
            "
          >
            Please enter date!
          </span>
        </div> -->

        <div class="forn-group" style="margin-bottom: 2%">
          <div class="row">
            <div class="col-xs-6">
              <select
                class="form-select form-control"
                formControlName="month"
                aria-label="Default select example"
              >
                <option selected>Select Month</option>
                <option [value]="month" *ngFor="let month of months">
                  {{ month }}
                </option>
              </select>
              <span
                *ngIf="
                  !stripeForm.get('month')?.valid &&
                  stripeForm.get('month')?.touched
                "
              >
                choose month!
              </span>
            </div>
            <div class="col-xs-6">
              <select
                class="form-select form-control"
                formControlName="year"
                aria-label="Default select example"
              >
                <option selected>Select Year</option>
                <option [value]="year" *ngFor="let year of years">
                  {{ year }}
                </option>
              </select>
              <span
                *ngIf="
                  !stripeForm.get('year')?.valid &&
                  stripeForm.get('year')?.touched
                "
              >
                choose year!
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Card Name</label>
          <input
            type="text"
            id="cardname"
            name="cardname"
            formControlName="cardName"
            class="form-control"
          />
          <span
            *ngIf="
              !stripeForm.get('cardName')?.valid &&
              stripeForm.get('cardName')?.touched
            "
          >
            Please enter card name!
          </span>
        </div>

        <button
          class="form-control btn btn-primary"
          [disabled]="!stripeForm.valid"
          type="submit"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
