<h1 class="user_component">User</h1>
<div *ngIf="isLoggedIn">
    <h1>User logged in</h1>
    <p>User is: {{user.name}}</p>
</div>
<div *ngIf="!isLoggedIn">
    <h1>User not logged in</h1>
    <p>Please log in first</p>
</div>

