<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="" class="img-reponsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle"> Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To shopping List</a></li>
                <li><a (click)="onEditRecipe()">Edit Recipe</a></li>
                <li><a (click)="onDeleteRecipe()">Delete Recipe</a></li>
                
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.name}}
    </div>
</div>

<div class="col-xs-10">
    <hr>
    <ul class="list-group" >
      <li class="list-group-item" *ngFor="let ingd of recipe.ingredient">
        {{ingd.name}} ({{ingd.amount}})
      </li>
    </ul>
</div>