<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onAddItem(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input 
                     type="text" 
                     id="name"
                     name="name" 
                     ngModel  
                     required
                     class="form-control" >
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">amount</label>
                    <input 
                     type="number" 
                     id="amount" 
                     name="amount"
                     required
                     ngModel 
                     pattern="^[1-9]+[0-9]*$"
                     class="form-control" >
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{editMode ? 'Update' : 'Add'}}</button>
                    <button class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDelete()">Delete item</button>
                    <button class="btn btn-primary" type="button" (click)="clearForm()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>