<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-1 col-md-offset-2">
      <input placeholder="filter status" type="text" [(ngModel)]="filteredStatus">
      <br>
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <br><br>
      <!-- <h2>App Status: {{r}}</h2> -->
      <h2>App Status: {{appStatus | async}}</h2>
      <hr>
      <ul class="list-group">
        <li
          *ngFor="let server of servers | filter:filteredStatus:'status'"
          
          class="list-group-item">
          <span class="badge">{{server.status | assignmentPipe}}</span>
          <!-- Shorten pipe is custom pipe -->
          <strong>{{ server.name | shorten:17 }}</strong> |
           {{ server.instanceType | uppercase }} |
           {{ server.started | date:'fullDate' | uppercase}}
        </li>
      </ul>
    </div>
  </div>
</div>
