<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" required ngModel name="title">
          </div>
          <div class="form-group">
            <label for="title">Content</label>
            <textarea type="text" class="form-control" id="content" required ngModel name="content"></textarea>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="!postForm.valid">
            Send Post
          </button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" [disabled]="loadedPosts.length < 1" (click)="onFetchPosts()">
        Fetch Posts
      </button>
      |
      <button
        class="btn btn-danger"
        [disabled]="loadedPosts.length < 1"
        (click)="onClearPosts()"
      >
        Clear Posts
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p *ngIf="loadedPosts.length < 1 && !isLoading">No Posts available</p>
      <ul class="list-group" *ngIf="loadedPosts.length >= 1 && !isLoading">
        <li class="list-group-item" *ngFor="let post of loadedPosts">
          <h1>{{post.title}}</h1>
          <p>{{post.content}}</p>
        </li>
      </ul>
      <p *ngIf="isLoading && !error">Loading...</p>
      <div class="alert alert-danger" *ngIf="error">
        <p>{{error}}</p>
        <br>
        <button class="btn btn-danger" (click)="onErr()">ok</button>
      </div>
    </div>
  </div>
</div>