<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="ProjectForm" (ngSubmit)="onSubmit()" >
            <div id="user-data">
              <div class="form-group">
                <label for="name">Project Name</label>
                <input 
                type="text" 
                id="name" 
                formControlName="projectName"
                class="form-control" />
              </div>
             
              <div class="form-group">
                <label for="email">Mail</label>
                <input 
                type="email" 
                id="email" 
                name="email" 
                formControlName="email"
                class="form-control" />
              </div>
              <div class="form-group">
                <label for="status">Project Status</label>
                <select name="status" id="status" formControlName="projectStatus" class="form-control">
                    <option value="stable">stable</option>
                    <option value="critical">critical</option>
                    <option value="finished">finished</option>
                </select>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Create Project</button>
        </form>
      </div>
    </div>
</div>
