<p>game-control works!</p>
<div class="container">
    <div class="col-xs-12">
        <h1>{{inc}}</h1>
        <button class="btn btn-primary" [disabled]="inc > 0" (click)="start()">Start</button>
        <button class="btn btn-primary" [disabled]="inc === 0" (click)="stop()">Stop</button>
    </div>
</div>
