<h1>Services  Work!</h1>
<!-- <app-test></app-test>

<div *ngFor="let ac of accounts">
    <h1>{{ac.name}}</h1>
    <h3>{{ac.status}}</h3>
</div> -->

<app-active></app-active>
<app-inactive></app-inactive>