<!-- <div class="container">
    <app-cockpit 
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
    
    ></app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onChangeFirst()">change first element</button>
            <button class="btn btn-danger" (click)="onDestroyFirst()">destroy first component</button>
            <app-server-element 
            *ngFor="let serverElement of serverElements" 
            [srvElement]="serverElement"
            [name] ="serverElement.name" >
                <p #contentParagraph>
                    <strong *ngIf="serverElement.type === 'server'" style="color: red;">{{serverElement.content}}</strong>
                    <em *ngIf="serverElement.type === 'blueprint'" >{{serverElement.content}}</em>
                </p>
            </app-server-element>
        </div>
    </div>
</div> -->
<!-- <button (click)="oncreateServer()"></button> -->

<div class="row">
    <div class="col-xs-12">
        <app-game-control (newItemEvent)="oncreateServer($event)" ></app-game-control>
    </div>
    <div class="col-xs-12" style="display: flex;">
        <div class="container">
            <app-odd *ngFor="let odd of oddNum" [number] = 'odd'>
                <h3>odd :{{odd}}</h3>
            </app-odd>
        </div>
        <div class="container">
            <app-even *ngFor="let even of evenNum"  [Enumber] = 'even'>
                <h3>even :{{even}}</h3>
            </app-even>
        </div>
        

    </div>
</div>


