<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users.</p>
<button class="btn btn-primary" (click)="onLoadServer(4)" >Load Server</button>
<button class="btn btn-default" (click)="onlogin()">Login</button>
<button class="btn btn-default" (click)="onlogout()">Logout</button>