<h1 >Directive Deep Dive</h1>
<p appBasicHighlight >Style me with basic directive</p>
<p [appBetterDirective]="'red'" highlightColor="yellow" >Style me with basic directive</p>


<!-- we use own directive instead of *ngIf  -->
<div *appUnless="check">
  <h1>True</h1>
</div>

<!-- ngSwitch -->

<div [ngSwitch]="switchVal">
  <p *ngSwitchCase="5">value is 5</p>
  <p *ngSwitchCase="10">value is 10</p>
  <p *ngSwitchCase="100">value is 100</p>
  <p *ngSwitchDeefault >value is default</p>
</div>