<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" 
        ngModelGroup="userData"
        #userData="ngModelGroup"
        >
          <div class="form-group">
            <label for="username">Username</label>
            <input 
            type="text" 
            id="username" 
            ngModel
            name="username"
            required
            class="form-control">
          </div>
          <button
          class="btn btn-default" 
          (click)="suggestUserName()"
          type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input 
            type="email" 
            id="email" 
            ngModel
            name="email"
            required
            email
            #email="ngModel"
            class="form-control">
          </div>
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid value!</span>
        </div>
        <p *ngIf="!userData.valid && userData.touched">User Data is Invalid!</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select 
          id="secret" 
          ngModel
          name="secret"
          [ngModel]="defaultQuestion"
          class="form-control">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>

        <div class="form-group">
          <textarea 
          name="questionAnswer" 
          [(ngModel)]="answer"
          class="form-control"
          rows="3"></textarea>
        </div>
        <p>Your reply: {{ answer }}</p>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input 
            type="radio"
            name="gender"
            ngModel
            required
            [value]="gender">
            {{gender}}
          </label>
        </div>
        <button 
        class="btn btn-primary" 
        [disabled]="!f.valid"
        type="submit">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Username: {{user.username}} </p>
      <p>Mail: {{user.email}}</p>
      <p>Secret Question: {{user.secretQuestion}}</p>
      <p>Answer: {{user.answer}}</p>
      <p>Gender: {{user.gender}}</p>
    </div>
  </div>
</div> -->

<!-- <app-reactiveform></app-reactiveform> -->

<!-- <app-assignment></app-assignment> -->

<app-stripe-form></app-stripe-form>